@import "../../node_modules/@likethemammal/overwatch-general/lib/colors.less";

@item_width: 377px;

@row_hover_background: hsla(0, 0%, 15%, 0.25);
@row_height: 3.8rem;

.container {
    padding: 3px 0 4px;

    &:hover {
        .label {
            background: @row_hover_background;
        }
    }

    //low browser support, so cant be combined with :hover selector
    &:focus-within {
        .label {
            background: @row_hover_background;
        }
    }
}

.inner {
    position: relative;
}

.__text {
    composes: _font_general from '@likethemammal/overwatch-general/lib/general.css';
    line-height: 3.9rem;
    color: hsl(0, 0%, 90%);
}

.label {
    composes: __text;
    composes: cf from '@likethemammal/general-components/bin/general.css';
    padding-left: 22px;
    background: @black_faded_setting;
    transition: background 100ms ease-in;
    font-size: 2.3rem;
    height: @row_height;
}

.label__selected {
    composes: label;
    background: @row_hover_background;
}

.select {
    position: absolute;
    top: 0;
    right: 0;
}

.list_override {
    padding-right: 0 !important;
    margin-top: 2px !important;
}

.list_root_override {
    width: 100% !important;
}

.item {
    composes: __text;
    width: @item_width;
    line-height: 3.7rem;
    padding-left: 15px;
    letter-spacing: 0.01rem;
    font-size: 2.2rem;
    cursor: pointer;
    box-sizing: border-box;
}

.list_item {
    composes: item;
    background: hsl(220, 42%, 17%);
    padding: 10px 10px 0 11px;

    &:last-child {
        padding-bottom: 11px;
    }

    &:focus {
        border: 0;
        outline: 0;
    }

    &:hover, &:focus {
        .list_item_inner {
            background: hsl(196, 69%, 41%);
        }
    }
}

.list_item_inner {
    padding-left: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

.active {
    composes: item;
    background: @blue_faded_hover;
    border: 0;
    text-align: left;
    height: @row_height;

    &:focus {
        border: 0;
        outline: 0;
    }
}

.icon_container {
    composes: _icon_container from '@likethemammal/overwatch-general/lib/general.css';
    position: absolute;
    right: 5px;
    left: auto;
    top: 0px;

    height: 25px;
    width: 25px;
    padding: 5px 7px;
}
